body{
    background-image:url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk4Ni1iZy0wMi1rcWhlM3dpdC5qcGc.jpg);
    background-repeat:no-repeat;
    position: relative;
    background-color: #F0F0F0 !important;
    background-position: right top;
    
}



/* Text Styles ****************************************************************************************************/
.bold-text{
    font-weight: bold;
}
.poppins-font{
    font-family: 'Poppins', sans-serif;
}


/* Background And Text Colors ****************************************************************************************/
.text-colored{
    color:#3F8664 !important;
}
.dark-colored-text{
    color: green;
}
.colored-background{
    background-color: #3F8664;
}
.light-background{
    background-color: #F0F0F0;
}




/**PADDING SECITION************************************************************************************************/
.container-fluid{
    padding:0 7em;
}







/* Custom text sizes *******************************************************************************************/
.text-alignment{
    text-align: center;
}
.large-text-size{
    font-size: 5em;
    
}

.medium-text-size{
    font-size: 2.5em;
    margin-top: 0px;
    margin-bottom: 10px;
    
    font-weight: 600;   
}

.small-text-size{
    font-size:1em;
    
    
    
    
}



/*Navbar & Header Section ***********************************************************************************/


.navbar-brand{
    font-weight: bold;
    font-size: 4em !important;
    margin: left;
}
.navbar-brand:hover, .home:hover{
    color: green !important;

}

.nav-item{
    padding: 20px;
}

.nav-link {
  position: relative;
  text-decoration: none;
}
.nav-link:hover{
    color:green !important;
}

#Header-section {
   margin-bottom:7em ;
   
}

#slide-animation {
            animation: fadeInAnimation ease 1s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;


        }
        @keyframes fadeInAnimation {
            0% {
                
                margin-top: -2%;
                opacity: 0;
                
            }
            100% {
                opacity: 1;
                margin-bottom: 0%;
            }

    }


/*Top Section**************************************************************************************/
#Top-section{
    color:none;
    margin-bottom: 18%;
}



/*Middle Section**********************************************************************************/
#Middle-section{

   padding:10% 5%;
   
}

.card{
    text-align: center;
    padding:15% 10% ;
    margin:10%;
    position: static;
    border-radius: 0;
}

.middle-section-icons{
    
    font-size: 3em;
    
    
    
}
.middle-section-icons:hover {
    color: darkgreen;
    
}






/* Bottom Section *************************************************************************************************************/
#Bottom-section{
    
    padding: 10em;
    
    
}
.bottom-section-padding{
    padding-bottom: 6em;
}
.bottom-img{
    width: 600px;
}
.bottom-section-title-margin{
    margin-bottom: 1em;
}






/* Footer Section *****************************************************************************************/
#Footer{
    padding:5em 10em 10em 10em; 
}
/* ________________________________________________________________________________________ */





/* CHECK HOW ANIMATION WORKS BEFORE IMPLEMENTATION  */





.nav-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3F8664;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link:hover::before {
  transform: scaleX(1);
}


/* Contact Section *********************************************************************************/


.contact-us {
    position: relative;
    left: 39%;
}
.email{
    width:100%;
    height: 70vh;
    display:flex;
    align-items:center;
    justify-content: center;
    
}

form{
    background: #F0F0F0;
    width: 500px;
    padding: 30px;
    font-size: 18px;
}

.message-icon{
    
    display:flex;
    align-items: center;
    margin-bottom: 20px;
}
.message-icon i{
    font-size: 35px;
}

.message-icon span{
    font-size:22px;
    font-weight: bold;
    margin-left:15px; 
}

form input, textarea{
    width:95%;
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
    outline:none;
    background-color: #F0F0F0;
}
textarea{
    margin-left:17px;
}
#input-field{
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    position: relative;
    right: 2px;
}
#input-field i{
    font-size: 22px;
    width: 20px;
    
    
}

.send-btn{
    width:100px;
    border: none;
    background: #000;
    color: #fff;
    font-size:16px;
    padding: 6px 0;
    border-radius: 50px;
    position: relative;
    left: 40%;
    text-align:center
}

/* Media query for page sizes *************************************************/
/* Media Query for Navbar ***************************************************************************************/
@media (max-width:1300px) {
    
    .navbar-brand{
        text-align: center;
    }
    

    #top-section{
        padding: 5%;
        text-align: center;
    }

    #Bottom-section{
        text-align: center;
        margin: none;
        padding: 1em;
        margin-bottom: 5em;
    }
    #Footer{
        padding: 0;
        padding-bottom:5em ;
    }
    form{
        position: relative;
        top: 50px;
        padding: 0 0 1em 0;
    }

    .nav-link:hover::before {
        transform: scaleX(0.4);
    }
    .navbar-toggler{
        margin-left:35%;
        
    }
    .text-colored{
        text-align: center;
    }
    .bottom-img{
        width: 1000px;
        padding:none;
    }
    .medium-text-size{
        font-size: 1.5em;
        text-align: center;
    }
    .small-text-size{
        text-align: center;
    }

    
}

@media (max-width:1000px) {
    body{
        background-image: none;
        text-align: center;
    }
    
}




